<div class="wrapper">
  <div class="flats">
    <div class="row">
      <% @flats.each do |flat| %>
        <div class="col-xs-12 col-md-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.name.gsub('Le Wagon ', '').downcase %>');" data-flat-id="<%= flat.id %>">
            <h1><%= flat.name %></h1>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="map-container">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
</div>
